@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    text-align: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
main{
    margin: 0 0 35px;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}
