@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
*{
    text-align: center;
    font-family: 'Skranji', cursive;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    margin: 0 0 30px;
}
.left{
    width: 40vw;
    height: 100vh;
    background-image: url(img/klemen-vrankar-lcT_p8kLCsc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#logo{
    display: flex;
    color: whitesmoke;
    background: rgba(0,0,0,0.7);
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
}
#logo h3{
    margin-right: 20px;
}
.right{
    width:60vw;
    background: #000000;
    color: whitesmoke;
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: gray;
    font-size: 15px;
}
form label,input{
    margin: 20px;
}
input{
    border: 3px solid #e5e7eb;
    border-radius: 8px;
    padding: 3px;
}
input:invalid{
    border: 3px solid darkviolet;
    box-shadow: 3px 3px darkviolet;
}
input:focus{
    border: 3px solid blue;
    box-shadow: 5px 5px blue;
}
button{
    padding: 5px;
    font-size: medium;
    border: 3px solid red;
    border-radius: 8px;
    color: black;
    background: rgb(255, 140, 0);
}
footer{
    color: whitesmoke;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}
